[Unit]
Description=NetBox
After=network.target

[Service]
User=netbox
Group=netbox
WorkingDirectory=/opt/netbox/netbox/
ExecStart=/opt/netbox/venv/bin/daphne -b 127.0.0.1 -p 8000 netbox.asgi:application
Restart=always

[Install]
WantedBy=multi-user.target