{% extends '_base.html' %}

{% block title %}{{ vxlan_group }} - VxLANs{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'ipam:vxlangroup_list' %}">VxLAN Groups</a></li>
            {% if vxlan_group.site %}
                <li><a href="{% url 'dcim:site' slug=vxlan_group.site.slug %}">{{ vxlan_group.site }}</a></li>
            {% endif %}
            <li>{{ vxlan_group }}</li>
        </ol>
    </div>
</div>
    {% include 'ipam/inc/vxlangroup_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with table=vxlan_table table_template='panel_table.html' heading='VxLANs' bulk_edit_url='ipam:vxlan_bulk_edit' bulk_delete_url='ipam:vxlan_bulk_delete' %}
        </div>
    </div>
{% endblock %}

