{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.configuration.add_bgp %}
        {% add_button_custom 'configuration:bgp_add_internal' 'Add Internal' %}
        {% add_button_custom 'configuration:bgp_add_external' 'Add External' %}
        {% import_button 'configuration:bgp_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}BGP Session{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
    <h3>Internal</h3>
    {% with table=internal_table %}
      {% include 'utilities/obj_table.html' with bulk_delete_url='configuration:bgp_bulk_delete' %}
    {% endwith %}
    <h3>External</h3>
    {% with table=external_table %}
      {% include 'utilities/obj_table.html' with bulk_delete_url='configuration:bgp_bulk_delete' %}
    {% endwith %}
  </div>
	<div class="col-md-3">
		{% include 'inc/search_panel.html' %}
	</div>
</div>
{% endblock %}
