{% load helpers %}

<div class="list-group">
    {% for change in changelog %}
        {% with action=change.get_action_display|lower %}
            <div class="list-group-item">
                {% if action == 'created' %}
                    <span class="label label-success">Created</span>
                {% elif action == 'updated' %}
                    <span class="label label-warning">Modified</span>
                {% elif action == 'deleted' %}
                    <span class="label label-danger">Deleted</span>
                {% endif %}
                {{ change.changed_object_type.name|bettertitle }}
                {% if change.changed_object.get_absolute_url %}
                    <a href="{{ change.changed_object.get_absolute_url }}">{{ change.changed_object }}</a>
                {% else %}
                    {{ change.changed_object|default:change.object_repr }}
                {% endif %}
                <br/>
                <small>
                    <span class="text-muted">{{ change.user|default:change.user_name }} -</span>
                    <a href="{{ change.get_absolute_url }}"
                       class="text-muted">{{ change.time|date:'SHORT_DATETIME_FORMAT' }}</a>
                </small>
            </div>
        {% endwith %}
    {% endfor %}
</div>