<span class="label label-{% if provision_set.state == provision_set.RUNNING or provision_set.state == provision_set.PREPARE or provision_set.state == provision_set.COMMIT %}info{% elif provision_set.state == provision_set.FINISHED %}success{% elif provision_set.state == provision_set.FAILED %}danger{% elif provision_set.state == provision_set.ABORTED %}warning{% elif provision_set.state == provision_set.REVIEWING or provision_set.state == provision_set.NOT_STARTED %}primary{% endif %}">
    {{provision_set.get_state_display}}
</span>
