<div class="pull-right">
    {% if perms.ipam.add_vxlan and first_available_vxlan %}
        <a href="{% url 'ipam:vxlan_add' %}?vid={{ first_available_vxlan }}&group={{ vxlan_group.pk }}{% if vxlan_group.site %}&site={{ vxlan_group.site.pk }}{% endif %}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Add a VxLAN
        </a>
    {% endif %}
    {% if perms.ipam.change_vxlangroup %}
               <a href="{% url 'ipam:vxlangroup_edit' pk=vxlan_group.pk %}" class="btn btn-warning">
                       <span class="fa fa-pencil" aria-hidden="true"></span>
                       Edit this VxLAN Group
               </a>
    {% endif %}
</div>
<h1>{{ vxlan_group }}</h1>
