{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load helpers %}

{% block title %}Change{% endblock %}

{% block form %}
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Change Request</strong></div>
      <div class="panel-body">
        {% render_field form.name %}
        {% render_field form.topdesk_change_number %}
        {% render_field form.is_emergency %}

      </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let buttons = document.getElementsByName('_addanother');
        for (i of buttons) {
            i.remove();
        }
    })
    </script>
{% endblock %}
