{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Change Request</strong></div>
      <div class="panel-body">
        {% render_field form.name %}
        <h5>What are the implications of this change?</h5>
        {% render_field form.change_implications %}
        <h5>What are the implications if we ignore this change?</h5>
        {% render_field form.ignore_implications %}
        {% render_field form.is_emergency %}
        {% render_field form.is_extensive %}
        {% render_field form.affects_customer %}
        {% render_field form.change_type %}
        {% render_field form.category %}
        {% render_field form.subcategory %}
        {% render_field form.depends_on %}

      </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.getElementsByName('_addanother');
        for (i of buttons) {
            i.remove();
        }
    })
    </script>
{% endblock %}
