{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="pull-right">
                    {% if undeployed_changesets %}
                        <form method="post" action="{% url 'change:deploy' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Deploy Changes</button>
                        </form>
                    {% endif %}
                </div>
                <h3>Deploy Changes</h3>
            </div>
            {% if unaccepted_changesets > 0 %}
                <div class="alert alert-danger" role="alert"><b>Warning:</b> There are changes currently in progress.</div>
            {% endif %}
            {% include 'panel_table.html' with table=undeployed_changesets_table heading="Changes List" %}
            {% include 'change/inc/changelog_panel.html' %}
        </div>
    </div>
{% endblock %}
