{% extends '_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <h3>Deploy Changes</h3>
                <div class="pull-right">
                    {% if undeployed_changesets %}
                        <form method="post" action="{% url 'change:deploy' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Deploy Changes</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <h4>Changes List</h4>
            {% if unaccepted_changes > 0 %}
                <div class="alert alert-danger" role="alert"><b>Warning:</b> There are changes currently in progress.</div>
            {% endif %}
            {% include 'inc/table.html' with table=undeployed_changesets_table %}
        </div>
    </div>
{% endblock %}