{% extends 'base.html' %}
{% load static %}
{% load helpers %}

{% block title %}ChangeSet #{{ changeset.id }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>ChangeSet #{{ changeset.id }}: {{changeset.change_information.name }} ({{changeset.get_status_display}})</strong>
                </div>
                <div class="panel-body">
                  {% include 'change/inc/changelog.html' with changelog=changeset.object_changes.all %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
