{% extends '_base.html' %}
{% load helpers %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    {% if changeset != None %}
      <h3>Changeset {{ changeset.pk }} created!</h3>
      <p>
        We’ve recorded these changes since you started this changeset. Please
        make sure that those changes are correct and then click the “Submit”
        button below!
      </p>
      <p>
        You can also check the generated YAML at the bottom of this page. This is
        what we will feed into Ansible should this change be accepted!
      </p>
      <h4>Change Description</h4>
      {% if changeset.change_information.is_emergency %}
        <b>Emergency Change</b>
      {% endif %}
      <h6>What changes if the change is accepted?</h6>
        {{ changeset.change_information.change_implications }}
      <h6>What changes if the change is rejected?</h6>
        {{ changeset.change_information.ignore_implications }}

      {% if changeset.change_information.affects_customer %}
        <h6>Who is affected?</h6>
        <ul>
        {% for customer in changeset.change_information.affectedcustomer_set.all %}
          <li>{{ customer.name }}{% if customer.is_business %} (Business Customer){% endif %}: {{ customer.products_affected }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <h4>Change List</h4>
      <h5>Changed Fields</h5>
      <ol>
        {% for change in changeset.changedfield_set.all %}
          <li>{{change}}</li>
        {% endfor %}
      </ol>
      <h5>Changed Objects</h5>
      <ol>
        {% for change in changeset.changedobject_set.all %}
          <li>{{change}}.</li>
        {% endfor %}
      </ol>
      <a href="/change/accept/{{changeset.pk}}" class="btn btn-primary">
        Accept
      </a>
      <a href="/change/reject/{{changeset.pk}}" class="btn btn-default">
        Reject
      </a>
      <h4>Generated YAML</h4>
      <pre>
        {{ changeset.to_yaml }}
      </pre>
    {% else %}
      <h3>Nothing to do!</h3>
      <p>We didn’t detect any changes in this set.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
