{% extends '_base.html' %}
{% load helpers %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    {% if changeset != None %}
      <h3>Changeset {{ changeset.pk }} created!</h3>
      <p>
        We’ve recorded these changes since you started this changeset. Please
        make sure that those changes are correct and then click the “Submit”
        button below!
      </p>
      <p>
        You can also check the generated YAML at the bottom of this page. This is
        what we will feed into Ansible should this change be accepted!
      </p>
      <h4>Changelist</h4>
      <h5>Changed Fields</h5>
      <ol>
        {% for change in changeset.changedfield_set.all %}
          <li>{{change}}.</li>
        {% endfor %}
      </ol>
      <h5>Changed Objects</h5>
      <ol>
        {% for change in changeset.changedobject_set.all %}
          <li>{{change}}.</li>
        {% endfor %}
      </ol>
      <form action="/change/accept/{{changeset.pk}}">
        <button class="btn btn-primary">Submit</button>
      </form>
      <h4>Generated YAML</h4>
      <pre>
        {{ changeset.to_yaml }}
      </pre>
    {% else %}
      <h3>Nothing to do!</h3>
      <p>We didn’t detect any changes in this set.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
