{% extends '_base.html' %}
{% load helpers %}

{% block header %}
{% endblock %}

{% block title %}
  {% if changeset %}
    Changeset {{ changeset.pk }} created!
  {% else %}
    Nothing to do!
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% if changeset != None %}
      <h3>Changeset {{ changeset.pk }} ({{ changeset.change_information.name }})</h3>
      <a href="{{ changeset.topdesk_url }}">Topdesk Ticket</a>
      <div class="pull-right">
        <form method="post">
             {% csrf_token %}
            <button class="btn btn-primary" id="change-accept">
              Save Change
            </button>
        </form>
      </div>
    {% else %}
      <h3>Nothing to do!</h3>
      <p>We didn’t detect any changes in this set.</p>
    {% endif %}
  </div>
</div>

<script>
window.onload = () => {
  $('#change-accept').click(() => {
    let e = document.createElement("div");
    e.classList.add('loader');
    document.body.appendChild(e);
  });
};
</script>

<style>
.loader {
  border: 2vw solid #f3f3f3; /* Light grey */
  border-top: 2vw solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40vh;
  left: 45vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
{% endblock %}
