{% extends '_base.html' %}

{% block header %}
    <h1>{% block title %}Provisioning{% endblock %}</h1>
    <p>
    <small class="text-muted">Created {{ provision_set.created }} &middot; Updated <span title="{{ provision_set.updated }}">{{ provision_set.updated | timesince }}</span> ago</small>
    </p>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include 'panel_table.html' with table=changes_table heading='Containing changes' %}
        </div>
    </div>
{% endblock %}
