{% extends 'base.html' %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'change:provisions' %}">Provisions</a></li>
                <li>#{{ provision_set.id }}</li>
            </ol>
        </div>
    </div>
    <div class="pull-right noprint">
        {% if perms.change.change_provisionset and provision_set.state != provision_set.FINISHED %}
                <form action="{% url 'change:second_stage' pk=provision_set.pk %}" method="post" style="display: inline-block">
                    {% csrf_token %}
                    <span class="btn-second-stage">
                        <button type="submit" class="btn btn-warning"{% if provision_set.status != provision_set.REVIEWING %} disabled="" title="First stage did not complete successfully"{% endif %}>
                            <i class="glyphicon glyphicon-play" aria-hidden="true"></i> Run 2nd stage
                        </button>
                    </span>
                </form>
                <form action="{% url 'change:terminate_provision_set' pk=provision_set.pk %}" method="post" id="termination-form" style="display: inline-block">
                    {% csrf_token %}
                    <span class="btn-terminate" data-form="termination-form">
                        <button class="btn btn-danger"{% if provision_set.status != provision_set.RUNNING and provision_set.status != provision_set.REVIEWING %} disabled="" title="Not running processes cannot be terminated!"{% endif %} data-toggle="modal" data-target="#termination-modal">
                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i> Terminate
                        </button>
                        {# Modal dialog for termination #}
                        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="termination-modal-label" id="termination-modal">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="termination-modal-label">Terminate Provisioning</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to terminate this provisioning?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <form action="{% url 'change:terminate_provision_set' pk=provision_set.pk %}" method="post" style="display: inline-block">
                                            {% csrf_token %}
                                            <button class="btn btn-danger" type="submit">Terminate</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </form>
        {% endif %}
    </div>
    <h1>
        {% block title %}Provisioning #{{ provision_set.pk }}{% endblock %}
        <small class="provision-set-label inline-block" data-provision-id="{{ provision_set.pk }}">
            {% include 'change/inc/provision_set_label.html' %}
        </small>
    </h1>
    <p>
    <small class="text-muted">Created {{ provision_set.created }} &middot; Updated <span title="{{ provision_set.updated }}">{{ provision_set.updated | timesince }}</span> ago</small>
    </p>
{% endblock %}

{% block content %}
    <div class="hidden" id="provision-status-ws" data-provision-id="{{ provision_set.pk }}"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Logs</strong>
                </div>
                <div class="panel-body" id="react-terminal" style="padding: 0;">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Information</strong></div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Author</td>
                        <td>{{ provision_set.user.username }}</td>
                    </tr>
                </table>
            </div>
            {% include 'panel_table.html' with table=changes_table heading='Containing changes' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        ReactDOM.render(
            React.createElement(
                window.ReactComponents.ProvisionTerminal,
                {
                    provisionId: "{{ provision_set.pk }}",
                }
            ),
            document.getElementById('react-terminal'),
        );
    })

    </script>
{% endblock %}
